<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./alimentos_comum.css" />
  <title>Gula Online</title>
</head>

<body onload="carregaAlimentos()">

  <b><a id="abacate" href="../../home_sem_logar.html">Voltar</a></b><br><br>
  <div class="table1">
    <table>
      <thead>
        <tr>
          <th colspan="8"> Alimentos </th>
        </tr>
        <tr>
          <th>IdAli</th>
          <th>IdCa</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Qtd kg/uni</th>
          <th>Preço</th>
          <th>Imagem</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="tbali"></tbody>
    </table>
  </div>
  <!--<p class="msg" id="mensagem">Mensagens do Sistema</p>-->
  <script src="./alimentos_comum.js"></script>
</body>

</html>